<!doctype html>
<html>
  <head>
    <script type=text/javascript src=/static/js/jquery.js></script>
    <script type=text/javascript src=/static/js/underscore.js></script>
    <script type=text/javascript src=/static/js/underscore-string.js></script>
    <script type=text/javascript src=/static/js/backbone.js></script>
    <script type=text/javascript src=/static/js/groovegrid.js></script>
    <script type=text/javascript>
      $(document).ready(function() {
        // Attach underscore-string to underscore
        _.mixin(_.str.exports());
        // Grab templates
        Groovegrid.templates.grab();
        // Initialize application
        Groovegrid.app = new Groovegrid.views.App({
          router: new Groovegrid.Router
        });
        // Start backbone routing
        Backbone.history.start({pushState: true});
      });
    </script>
  </head>

  <body>

    <div id=app>
    </div>

    <script id=grid type=text/html>
      <h1>Grid: <%- gridName %></h1>
      <div id=tiles></div>
    </script>

    <script id=tile type=text/html>
      <span class=title><%- title %></span>
    </script>

  </body>
</html>
