<!doctype html>
<html>
  <head>
    <script type=text/javascript src=/static/js/jquery.js></script>
    <script type=text/javascript src=/static/js/underscore.js></script>
    <script type=text/javascript src=/static/js/underscore-string.js></script>
    <script type=text/javascript src=/static/js/backbone.js></script>
    <script type=text/javascript src=/static/js/groovegrid.js></script>
    <script type=text/javascript>
      $(document).ready(function() {
        // Attach underscore-string to underscore
        _.mixin(_.str.exports());
        // Grab templates
        Groovegrid.templates.grab();
        // Initialize application
        Groovegrid.app = new Groovegrid.views.App({
          router: new Groovegrid.Router
        });
        // Start backbone routing
        Backbone.history.start({pushState: true});
      });
    </script>
  </head>

  <body id=app>
    <div id=groovegrid></div>

    <script id=index type=text/html>
      <h1>Groovegrid</h1>
      <p>Youtube playlists made awesome!</p>
      <input type=text placeholder='Enter a grid name' />
      <input type=submit value='Go!' />
    </script>

    <script id=tile type=text/html>
      <img src=<%- thumbnail_url %> />
      <span class=title><%- title %></span>
      <span class=uploader><%- uploader %></span>
      <span class=duration><%- duration %></span>
    </script>

    <script id=grid type=text/html>
      <div id=search></div>
      <div id=tiles></div>
    </script>

    <script id=search type=text/html>
      <input type=text placeholder='Search a youtube video' />
      <div id=results></div>
    </script>

    <script id=searchResult type=text/html>
      <img src=<%- thumbnail.sqDefault %> />
      <span class=title><%- title %></span>
      <span class=uploader><%- uploader %></span>
      <span class=length><%- duration %></span>
    </script>

  </body>
</html>
